body{
    background-color: #EFB923;
    margin: 0;
}
div{
    margin: 50px 33.33%;    
    background-color: #9F5E33;
    border-radius: 100px;
    word-wrap: break-word;
}
h1{
    padding: 20px 15%;
    color: #FEE528;
    text-align: center;
 }
 p{
    padding: 20px 15%;
    color: #FFD314;
    text-align: justify;
    
 }
 a{
     color: #FEE528 ;
 }