*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif ;
}
div{
    text-align: center;
    margin: 50px 0px 20px 0px;
    
}
button , input{
    display: inline;
    margin: 10px 50px;
    width: 10%;
    font-size: 20px;
    background-color: deepskyblue;
    padding: 10px 20px;
    border-radius: 12px;
    border: 2px solid black;

}
button:hover{
    border: 2px solid black;
    color: deepskyblue;
    background-color: black;
    transition-duration: 0.4s;
}
::placeholder{
    color: black;
}
table{ 
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;

}
td{
    background-color: white;
    border:5px solid black ;
    padding: 10px 100px;
    font-size: 50px;
    font-weight: bold;

}
.blanco{
    background-color: white;
    padding: 0px 350px;
}
.espacio{
    padding: 0px 100px;
    border: 0px solid white;
}
.divisor{
    border: 0px solid white;
    margin: 50px;
}
.Mes {
    border: solid white;
    font-size: 60px;
    padding: 5px 0px;
}
.Mes:hover,.Dia:hover{
    animation-name:test;
    animation-duration:2s;
    animation-iteration-count:infinite; 
} 
@keyframes test{ 
    0%{color:red} 
    10%{color:orange} 
    20%{color:yellow} 
    30%{color:green} 
    40%{color:cyan} 
    50%{color:skyblue}
    60%{color:blue} 
    70%{color:indigo} 
    80%{color:violet} 
    90%{color:grey} 
    100%{color:red} 
} 