*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif ;
}
div{
    text-align: center;
    margin: 100px 0px;
    
}
button{
    display: inline;
    margin: 10px 100px;
    width: 10%;
}
table{ 
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
}
td{
    background-color: white;
    border:1px solid black;
    padding: 25px 100px;
    font-size: 25px;
    width: 200px;
    height: 30px !important;

}
.blanco{
    height: 30px !important;
    background-color: white;
    padding: 0px 200px;
}
.espacio{
    height: 30px;
    padding: 0px 100px;
    border: 0px solid white;
}
.divisor{
    border: 0px solid white;
    margin: 50px;
}
.Mes{
    border: 0px solid white;
}