body{
    background-color:deepskyblue;
}


h1{
    text-align: center;
    color:black;
}
p{
    text-align: center;
    color:black;
}
.redessociales{
    align-items: center;
    text-align: center;
}