*{
    margin: 0;
       font-family: Arial, Helvetica, sans-serif ;
}
body{
    background-color:Dodgerblue;
}

h1{
    text-align: center;
    color:black;
    margin: 50px;
}
p{
    text-align: center;
    color:black;
}
.Redessociales{
    display: inline;
    margin: 10px 100px;
}
footer{
    text-align: center;
    margin: 50px 0px;
}
header{
    background-color: black;
    overflow: hidden;
    top: 0px;
    padding: 0px 3%;
    margin: 0px 30%;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}
.Menu a{
    font-size: 20px;
    color: Dodgerblue;
    float: left;
    margin: 0px 1%;
    padding: 15px 1%;
}
.Menu a:hover{
    color:white;
}
.Menu-izquierda a{
    float: right;
}
.Projects,.Blog,.Wiki{   
    text-align: center;
    margin: 20px 0px ;
}
.Projects h4 ,.Blog h4, .Wiki h2{
    color: black;
    display: inline-block;
    margin: 10px;
}
.Projects a,.Blog a,.Wiki a{
    margin: 10px;
}

h2{
    text-align: center;
}

a{
    text-decoration: none;    
}