body{
    background-color:deepskyblue;
}


h1{
    text-align: center;
    color:black;
}
p{
    text-align: center;
    color:black;
}
.redessociales{
    display: inline;
    margin: 10px 100px;
}
footer{
    text-align: center;
    margin: 100px 0px;
}