*{
    margin: 0;
    font-family:'Poppins'
}
@font-face {
    font-family:'Poppins' ;
    src: url(/Fonts/Poppins/Poppins-Regular.ttf);
}
body{
    background-color:aliceblue;
}

h4{
    margin: 50px 45%;;
    color: black;
}

section{
    display: block;
    font-size: 25px;
}
a{
    text-align: center;
    text-decoration: none;
}