*{
    margin: 0;
       font-family: Arial, Helvetica, sans-serif ;
}
body{
    background-color: #EFB923;
    margin: 0;
}
div{
    margin: 50px 25%;    
    background-color: #9F5E33;
    border-radius: 50px;
    word-wrap: break-word;
}
h1{
    padding: 50px 15% 0px;
    color: #FEE528;
    text-align: center;
 }
 p{
    padding: 20px 50px 50px;
    color: #FFD314;
    text-align: justify;
    font-size: 20px;
 }
.link{
     color: #FEE528 ;
     text-decoration: none;
     
 }