*{
    margin: 0;
}

.Azul,.Verde,.Amarillo,.Naranja,.Rojo,.Violeta,.Blanco,.Rosa,.Celeste,.Gris,.Marron,.royalblue,.cornflowerblue,.royalblue,.darkblue,.Navy,.steelblue,.mediumblue,
.deepskyblue,.dodgerblue,.darkturquoise,.paleturquoise,.azure,.aquamarine,.powderblue,.lightskyblue,.greenyellow,.chartreuse,.palegreen,.lawngreen,.gold,.lightyellow,.beige,.lemonchiffon,
.khaki,.palegoldenrod,.darkorange,.coral,.darksalmon,.salmon,.tomato,.crimson,.hotpink,.deeppink,.fuchsia,.palevioletred,.mediumorchid,.lavender,.orchid,.indigo,.white,.tan,
.saddlebrown,.peru,.navajowhite,.antiquewhite,.blanchedalmond,.linen,.sandybrown,.cdcdcd,.ebecf0,.gray,.silver,.lightgray,.lightslategray,.Negro,.black,.color_090909,.color_131313,.color_1A1A1A,.color_202020,.aliceblue{
    
    padding: 50px 0%;
    text-align: center;
    font-size: 50px;
    font-family: 'Lobster';
}

@font-face {
    font-family:'Lobster' ;
    src: url(/Fonts/Lobster/Lobster-Regular.ttf);
}


h4{
    margin: 10px 45%;
    padding: 0%;
}
a{
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 0px 0px;
}
p{
    margin: 20px;
    padding: 0px;
    display: inline;
}
.Azul{
    background-color:royalblue;
}
.royalblue{
    background-color: royalblue;
}
.cornflowerblue{
    background-color: cornflowerblue;
}
.darkblue{
    background-color: darkblue;
}
.Navy{
    background-color: Navy;
}
.steelblue{
    background-color: steelblue;
}
.mediumblue{
    background-color: mediumblue;
}

.Celeste{
    background-color: deepskyblue;
}
.deepskyblue{
    background-color: deepskyblue;
}
.dodgerblue{
    background-color: dodgerblue;
}
.lightskyblue{
    background-color: lightskyblue;
}
.darkturquoise{
    background-color: darkturquoise;
}
.paleturquoise{
    background-color: paleturquoise;
}
.azure{
    background-color: azure;
}
.aquamarine{
    background-color: aquamarine;
}
.powderblue{
    background-color: powderblue;
}
.aliceblue{
    background-color: aliceblue;
}

.Verde{
    background-color: greenyellow;
}
.greenyellow{
    background-color: greenyellow;
}
.chartreuse{
    background-color: chartreuse;
}
.palegreen{
    background-color: palegreen;
}
.lawngreen{
    background-color: lawngreen;
}

.Amarillo{
    background-color: gold;
}
.gold{
    background-color: gold;
}
.lightyellow{
    background-color: lightyellow;
}
.beige{
    background-color: beige;
}
.lemonchiffon{
    background-color: lemonchiffon;
}
.khaki{
    background-color: khaki;
}
.palegoldenrod{
    background-color: palegoldenrod;
}
.Naranja{
    background-color:darkorange;
}
.darkorange{
    background-color: darkorange;
}
.coral{
    background-color: coral;
}
.darksalmon{
    background-color: darksalmon;
}
.salmon{
    background-color: salmon;
}
.tomato{
    background-color: tomato;
}
.Rojo{
    background-color:crimson;
}
.crimson{
    background-color: crimson;
}

.Rosa{
    background-color:hotpink;
}
.hotpink{
    background-color: hotpink;
}
.deeppink{
    background-color: deeppink;
}
.fuchsia{
    background-color: fuchsia;
}
.palevioletred{
    background-color: palevioletred;
}

.Violeta{
    background-color:mediumorchid;
    /*lavender,orchid,indigo*/
}
.mediumorchid{
    background-color: mediumorchid;
}
.lavender{
    background-color: lavender;
}
.orchid{
    background-color: orchid;
}
.indigo{
    background-color: indigo;
}

.Blanco{
    background-color:white;
}
.white{
    background-color: white;
}

.Marron{
    background-color: tan;
}
.tan{
    background-color: tan;
}
.saddlebrown{
    background-color: saddlebrown;
}
.peru{
    background-color: peru;
}
.navajowhite{
    background-color: navajowhite;
}
.antiquewhite{
    background-color: antiquewhite;
}
.blanchedalmond{
    background-color: blanchedalmond;
}
.linen{
    background-color: linen;
}
.sandybrown{
    background-color: sandybrown;
}

.Gris{
    background-color:#cdcdcd ;
}
.cdcdcd{
    background-color: #cdcdcd;
}
.ebecf0{
    background-color: #ebecf0;
}
.gray{
    background-color: gray;
}
.silver{
    background-color: silver;
}
.lightgray{
    background-color: lightgray;
}
.lightslategray{
    background-color: lightslategray;
}

.Negro a,.Negro p,.black,.color_090909,.color_131313,.color_1A1A1A,.color_202020{
    color: white;
}
.Negro{
    background-color: black;
}
.black{
    background-color: black;
}
.color_090909{
    background-color: #090909;
}
.color_131313{
    background-color: #131313;
}
.color_1A1A1A{
    background-color: #1A1A1A;
}
.color_202020{
    background-color: #202020;
}